<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <div class="container">
    <div class="title">Deal price</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Nguyen Van A" required readonly/>
          </div>
          <div class="input-box">
            <span class="details">Merchant Name</span>
            <input type="text" placeholder="Rakhi Gupta" required readonly/>
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" placeholder="123 AAA, BBB CCC, DDDD" required readonly/>
          </div>
          <div class="input-box">
            <span class="details">Phone</span>
            <input type="text" placeholder="023042304" required readonly/>
          </div>
          <div class="input-box">
            <span class="details">Order</span>
            <input type="text" placeholder="Bòn Bon" required readonly/>
          </div>
          <div class="input-box">
            <span class="details">Kilo</span>
            <input type="text" placeholder="20" required />
          </div>
          <div class="input-box">
            <span class="details">Transport</span>
            <input type="text" placeholder="Yes" required />
          </div>
          <div class="input-box">
            <span class="details">New price/kg</span>
            <input type="text" placeholder="Confirm new price" required />
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Request" />
        </div>
      </form>
    </div>
  </div>
</body>
