<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="container">
    <div class="title">Add Agricultural</div>
    <div class="content">
      <div>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Name</span>
            <input type="text" placeholder="Enter name" value="{{p_product}}" required  />
          </div>
          <div class="input-box">
            <span class="details">Weight</span>
            <input type="text" placeholder="Enter weight" required  />
          </div>
          <div class="input-box">
            <span class="details">Season</span>
            <input type="text" placeholder="Spring/Summer/Autumn/Winter"  />
          </div>

          <div class="input-box">
            <span class="details">Date</span>
            <input type="text" placeholder="yyyy-mm-dd" required (input)="changeDate($event.target.value)"  />
          </div>
          <div>
            <div class="form-group">
              <input type="file" (change)="uploadFile($event)">
            </div>
            <div class="predict-box">
              <h4>Product: {{p_product}}</h4>
              <h4>Confidence: {{p_confidence}}</h4>
              <button mat-raised-button color="accent" (click)="predictForm()">Predict</button>
            </div>
          </div>
        </div>
        <div class="button" (click)="addProduct()">
          <input value="Submit" style="text-align:center !important" />
        </div>
      </div>
    </div>
  </div>
</body>